@using AvansFestivals.Models
@model TicketOrderModel
@{
    ViewBag.Title = "Overview";
}

<h2>Order overzicht</h2>
<div class="header">
    <h3>@Model.Festival.Name<span class="col-sm-6"><div class="img-responsive img-rounded">@Model.Festival.Logo</div></span></h3>
</div>
<div class="row">
    <div class="col-sm-6"></div>
    <div class="col-sm-6">
        <div class="well well-sm">
            <dl>
                <dt>Evenement:</dt>
                <dd>@Model.Festival.Name</dd>
                <dt>Datum:</dt>
                <dd>@Model.Festival.Start</dd>
                <dt>Locatie:</dt>
                <dd>De locatie</dd>
            </dl>
        </div>
    </div>
</div>
<div id="steps-uid-0" class="wizard clearfix" role="application">
    <section aria-hidden="false" class="body current" aria-labelledby="steps-uid-0-h-0" role="tabpanel" id="steps-uid-0-p-0">
        <div class="well well-sm well-inverse">Uw gegevens	</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="230"><div align="right">Naam:</div></th>
                    <th width="846" style="min-width: 80px;">WIllem van Strien</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="230"><div align="right">Adres</div></td>
                    <td style="min-width: 80px;">Vaartweg 186</td>
                </tr>
                <tr>
                    <td><div align="right"></div></td>
                    <td>5106 NG Dongen</td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="success">
                    <td><div align="right">Email</div></td>
                    <td>wvstrien@jalem.nl</td>
                </tr>
            </tfoot>
        </table>
        <div class="well well-sm well-inverse">Betaling</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th width="180"><div align="right">Bestelcode</div></th>
                    <th width="896" style="min-width: 80px;">T574CWEYSF</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td width="180"><div align="right">Totaalbedrag</div></td>
                    <td style="min-width: 80px;">€ @Model.getTotalPrice()</td>
                </tr>
                <tr>
                    <td><div align="right">Betaalmethode</div></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                Kies uw betaalmethode
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">iDeal</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Paypal</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="success">
                    <td><div align="right">Kies uw bank</div></td>
                    <td>
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                Kies uw bank
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ABN AMRO</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-2" href="#">ASN Bank</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-3" href="#">ING</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-4" href="#">Knab</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-5" href="#">Rabobank</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-6" href="#">RegioBank</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-7" href="#">SNS Bank</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-8" href="#">Triodos Bank</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-9" href="#">Van Lanschot</a></li>
                            </ul>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </section>
    <nav>
        <ul class="pager">
            <li class="previous disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Vorige</a></li>
            <li class="next"><a href="#">Volgende <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a></li>
        </ul>
    </nav>
</div>
