@using AvansFestivals.Models
@model TicketOrderModel

@if (Model != null)
{
    <h2>@Resource.TicketOrderOverView</h2>
    <hr />
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <div class="well well-sm">
                <dl>
                    <dt>@Resource.Event</dt>
                    <dd>@Model.Festival.Name</dd>
                    <dt>@Resource.Date</dt>
                    <dd>@Model.Festival.Start</dd>
                    <dt>@Resource.Location</dt>
                    <dd>De locatie</dd>
                </dl>
            </div>
        </div>
    </div>
    <div id="steps-uid-0" class="wizard clearfix" role="application">
        <section aria-hidden="false" class="body current" aria-labelledby="steps-uid-0-h-0" role="tabpanel" id="steps-uid-0-p-0">
            <div class="well well-sm well-inverse"><strong>Uw gegevens</strong></div>
            <table class="table table-striped">
                <tr>
                    <td width="230"><div align="right">@Resource.Name</div></td>
                    <td width="846" style="min-width: 80px;">@Model.User.Firstname @Model.User.Lastname</td>
                </tr>

                <tr>
                    <td><div align="right">@Resource.Email</div></td>
                    <td>@Model.User.Email</td>
                </tr>
            </table>
            <div class="well well-sm well-inverse"><strong>@Resource.Order</strong></div>
            <table class="table table-striped">
                @if (Model.Tickets.Earlybird > 0)
                {
                    <tr>
                        <td width="230"><div align="right">Earlybird tickets:</div></td>
                        <td width="846" style="min-width: 80px;">@Model.Tickets.Earlybird stuk(s)</td>
                    </tr>
                }
                @if (Model.Tickets.Normal > 0)
                {
                    <tr>
                        <td width="230"><div align="right">Normale tickets:</div></td>
                        <td width="846" style="min-width: 80px;">@Model.Tickets.Normal stuk(s)</td>
                    </tr>
                }
                @if (Model.Tickets.VIP > 0)
                {
                    <tr>
                        <td width="230"><div align="right">VIP tickets:</div></td>
                        <td width="846" style="min-width: 80px;">@Model.Tickets.VIP stuk(s)</td>
                    </tr>
                }
            </table>
            <div class="well well-sm well-inverse"><strong>@Resource.Payment</strong></div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td width="180"><div align="right">@Resource.TotalAmount</div></td>
                        <td style="min-width: 80px;">€ @Model.getTotalPrice()</td>
                    </tr>
                    <tr>
                        <td><div align="right">@Resource.PaymentMethod</div></td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    @Resource.ChoicePaymentMethod
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" id="dropdown1" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" data-method="ideal" tabindex="-1" href="#">iDeal</a></li>
                                    <li role="presentation"><a role="menuitem" data-method="paypal" tabindex="-2" href="#">Paypal</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr class="ideal-method">
                        <td><div align="right">Kies uw bank</div></td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                                    Kies uw bank
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" id="dropdown2" aria-labelledby="dropdownMenu2">
                                    <li role="presentation"><a role="menuitem" data-bank="abn" tabindex="-1" href="#">ABN AMRO</a></li>
                                    <li role="presentation"><a role="menuitem" data-bank="ing" tabindex="-2" href="#">ING</a></li>
                                    <li role="presentation"><a role="menuitem" data-bank="rabo" tabindex="-3" href="#">Rabobank</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <a href="#" id="orderButton" class="btn btn-primary next pull-right">@Resource.Finish<span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <script>
    $().ready(function () {
        var payMethod = "";
        var currentBank = "";
        $(".ideal-method").hide();

        $("#orderButton").addClass("disabled");

        $("#dropdown1 a").click(function () {
            payMethod = $(this).data("method");
            $("#dropdownMenu1").html($(this).text() + " <span class='caret'></span>");

            if (payMethod == "ideal") {
                $(".ideal-method").show();
                if(currentBank == "")
                    $("#orderButton").addClass("disabled");
            }
            else {
                $(".ideal-method").hide();
                $("#orderButton").removeClass("disabled");
            }
        });

        $("#dropdown2 a").click(function () {
            currentBank = $(this).data("bank");
            $("#dropdownMenu2").html($(this).text() + " <span class='caret'></span");
            $("#orderButton").removeClass("disabled");
        });

        $("#orderButton").click(function () {
            if(payMethod == "ideal")
                location.href = "@Url.Action("Pay", "Ticket", new { strategy = "ideal" })";
            else
                location.href = "@Url.Action("Pay", "Ticket", new { strategy = "paypal" })"
        });
    });
    </script>
}