@using AvansFestivals.Models
@model TicketOrderModel
@{
    ViewBag.Title = "Overview";
}


@if (Model != null)
{

    <h2>Bestellingsoverzicht</h2>
    <hr />
    <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
            <div class="well well-sm">
                <dl>
                    <dt>Evenement:</dt>
                    <dd>@Model.Festival.Name</dd>
                    <dt>Datum:</dt>
                    <dd>@Model.Festival.Start</dd>
                    <dt>Locatie:</dt>
                    <dd>De locatie</dd>
                </dl>
            </div>
        </div>
    </div>
    <div id="steps-uid-0" class="wizard clearfix" role="application">
        <section aria-hidden="false" class="body current" aria-labelledby="steps-uid-0-h-0" role="tabpanel" id="steps-uid-0-p-0">
            <div class="well well-sm well-inverse"><strong>Uw gegevens</strong></div>
            <table class="table table-striped">
                <tr>
                    <td width="230"><div align="right">Naam:</div></td>
                    <td width="846" style="min-width: 80px;">@Model.User.Firstname @Model.User.Lastname</td>
                </tr>

                <tr>
                    <td><div align="right">Email:</div></td>
                    <td>@Model.User.Email</td>
                </tr>
            </table>
            <div class="well well-sm well-inverse"><strong>Bestelling</strong></div>
            <table class="table table-striped">
                @if (Model.Tickets.Earlybird > 0)
                {
                    <tr>
                        <td width="230"><div align="right">Earlybird tickets:</div></td>
                        <td width="846" style="min-width: 80px;">@Model.Tickets.Earlybird stuk(s)</td>
                    </tr>
                }
                @if (Model.Tickets.Normal > 0)
                {
                    <tr>
                        <td width="230"><div align="right">Normale tickets:</div></td>
                        <td width="846" style="min-width: 80px;">@Model.Tickets.Normal stuk(s)</td>
                    </tr>
                }
                @if (Model.Tickets.VIP > 0)
                {
                    <tr>
                        <td width="230"><div align="right">VIP tickets:</div></td>
                        <td width="846" style="min-width: 80px;">@Model.Tickets.VIP stuk(s)</td>
                    </tr>
                }
            </table>
            <div class="well well-sm well-inverse"><strong>Betaling</strong></div>
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <td width="180"><div align="right">Totaalbedrag</div></td>
                        <td style="min-width: 80px;">€ @Model.getTotalPrice()</td>
                    </tr>
                    <tr>
                        <td><div align="right">Betaalmethode</div></td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    Kies uw betaalmethode
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" id="dropdown1" aria-labelledby="dropdownMenu1">
                                    <li role="presentation"><a role="menuitem" data-method="ideal" tabindex="-1" href="#">iDeal</a></li>
                                    <li role="presentation"><a role="menuitem" data-method="paypal" tabindex="-2" href="#">Paypal</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr class="ideal-method">
                        <td><div align="right">Kies uw bank</div></td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                                    Kies uw bank
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" id="dropdown2" aria-labelledby="dropdownMenu2">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">ABN AMRO</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-3" href="#">ING</a></li>
                                    <li role="presentation"><a role="menuitem" tabindex="-5" href="#">Rabobank</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
        <a href="@Url.Action("Order", "Ticket")" class="btn btn-primary next pull-right">Afronden <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>
    <script>
    $().ready(function () {
        var payMethod;
        $(".ideal-method").hide();

        $("#dropdown1 a").click(function () {
            payMethod = $(this).data("method");
            $("#dropdownMenu1").html($(this).text() + " <span class='caret'></span>")

            if (payMethod == "ideal")
                $(".ideal-method").show();
            else
                $(".ideal-method").hide();
        });
    });
    </script>


}
