@using AvansFestivals.Models
@model TicketOrderModel
@if (Model.User != null)
{
    <h2>@Resource.MakeYourTicketChoice</h2>
    <hr />
    <div class="row">
        <div class="col-sm-6">
            <img class="img-responsive img-rounded" width="350" height="350" src="@Model.Festival.Logo" />
        </div>
        <div class="col-sm-6">
            <div class="well well-sm">
                <dl>
                    <dt>@Resource.Event</dt>
                    <dd>@Model.Festival.Name</dd>
                    <dt>@Resource.Date</dt>
                    <dd>@Model.Festival.Start.ToShortDateString()
                    <dd>
                    <dt>@Resource.Location</dt>
                    <dd>@Model.Festival.Start.ToShortDateString()</dd>
                </dl>
            </div>
        </div>
    </div>
    <hr />
    <div class="well well-sm well-inverse">Tickets</div>
    <div class="clearfix">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th style="min-width: 80px;">@Resource.Price</th>
                    <th style="width: 140px;">@Resource.Amount</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Festival.TicketAmounts.Where(e => e.TicketType == AvansFestivals.Domain.Database.TicketType.Earlybird).FirstOrDefault() != null)
                {
                    if ((Model.Festival.TicketAmounts.FirstOrDefault(e => e.TicketType == AvansFestivals.Domain.Database.TicketType.Earlybird).Amount - Model.Festival.Tickets.Where(w => w.TicketType == AvansFestivals.Domain.Database.TicketType.Earlybird).Count()) > 0)
                    {
                        <tr>
                            <td><strong>@Html.LabelFor(m => m.Tickets.Earlybird)</strong></td>
                            <td>€ <span id="earlyPrice">@Model.Festival.TicketAmounts.FirstOrDefault(e => e.TicketType == AvansFestivals.Domain.Database.TicketType.Earlybird).Price</span></td>

                            <td>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Tickets.Earlybird, new { @class = "form-control text-center", @id = "earlyType", disabled = true })
                                    <span class="input-group-btn">
                                        <button type="button" id="earlyButtonPlus" class="btn btn-success">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button type="button" id="earlyButtonMin" class="btn">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    }
                }
                @if (Model.Festival.TicketAmounts.Where(e => e.TicketType == AvansFestivals.Domain.Database.TicketType.Normal).FirstOrDefault() != null)
                {
                    if ((Model.Festival.TicketAmounts.FirstOrDefault(e => e.TicketType == AvansFestivals.Domain.Database.TicketType.Normal).Amount - Model.Festival.Tickets.Where(w => w.TicketType == AvansFestivals.Domain.Database.TicketType.Normal).Count()) > 0)
                    {
                        <tr>
                            <td><strong>@Html.LabelFor(m => m.Tickets.Normal)</strong></td>
                            <td>€ <span id="normalPrice">@Model.Festival.TicketAmounts.FirstOrDefault(e => e.TicketType == AvansFestivals.Domain.Database.TicketType.Normal).Price</span></td>
                            <td>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Tickets.Normal, new { @class = "form-control text-center", @id = "normalType", disabled = true })
                                    <span class="input-group-btn">
                                        <button type="button" id="normalButtonPlus" class="btn btn-success">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button type="button" id="normalButtonMin" class="btn">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    }
                }

                @if (Model.Festival.TicketAmounts.Where(e => e.TicketType == AvansFestivals.Domain.Database.TicketType.VIP).FirstOrDefault() != null)
                {
                    if ((Model.Festival.TicketAmounts.FirstOrDefault(e => e.TicketType == AvansFestivals.Domain.Database.TicketType.VIP).Amount - Model.Festival.Tickets.Where(w => w.TicketType == AvansFestivals.Domain.Database.TicketType.VIP).Count()) > 0)
                    {
                        <tr>
                            <td><strong>@Html.LabelFor(m => m.Tickets.VIP)</strong></td>
                            <td>€ <span id="vipPrice">@Model.Festival.TicketAmounts.FirstOrDefault(e => e.TicketType == AvansFestivals.Domain.Database.TicketType.VIP).Price</span></td>
                            <td>
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Tickets.VIP, new { @class = "form-control text-center", @id = "vipType", disabled = true })
                                    <span class="input-group-btn">
                                        <button type="button" id="vipButtonPlus" class="btn btn-success">
                                            <span class="glyphicon glyphicon-plus"></span>
                                        </button>
                                        <button type="button" id="vipButtonMin" class="btn">
                                            <span class="glyphicon glyphicon-minus"></span>
                                        </button>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    }
                }

            </tbody>
            <tfoot>
                <tr class="success">
                    <td><strong>@Resource.Total</strong></td>
                    <td><strong>€ <span id="totalAmount">0.0</span></strong></td>
                    <td><div class="text-center" style="width: 42px"><strong><span id="totalQuantity">0</span></strong></div></td>
                </tr>
            </tfoot>
        </table>
        <a href="#" id="submitButton" class="btn btn-primary next pull-right">@Resource.Next <span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

    <script>
        $().ready(function () {
            var maxTotal = 8;
            var currentAmount = parseInt($("#earlyType").val() + $("#normalType").val() + $("#vipType").val());
            var totalPrice = 0.0;
            validate();
            calculatePrice();

            $("#earlyButtonPlus").click(function () {
                var amount = $("#earlyType").val();
                if (currentAmount <= maxTotal) {
                    amount++;
                    currentAmount++
                    $("#earlyType").val(amount);
                    validate();
                    calculatePrice();
                }
            });

            $("#earlyButtonMin").click(function () {
                var amount = $("#earlyType").val();
                if (currentAmount <= maxTotal) {
                    amount--;
                    currentAmount--
                    $("#earlyType").val(amount);
                    validate();
                    calculatePrice();
                }
            });

            $("#normalButtonPlus").click(function () {
                var amount = $("#normalType").val();
                if (currentAmount <= maxTotal) {
                    amount++;
                    currentAmount++
                    $("#normalType").val(amount);
                    validate();
                    calculatePrice();
                }
            });

            $("#normalButtonMin").click(function () {
                var amount = $("#normalType").val();
                if (currentAmount <= maxTotal) {
                    amount--;
                    currentAmount--
                    $("#normalType").val(amount);
                    validate();
                    calculatePrice();
                }
            });

            $("#vipButtonPlus").click(function () {
                var amount = $("#vipType").val();
                if (currentAmount <= maxTotal) {
                    amount++;
                    currentAmount++
                    $("#vipType").val(amount);
                    validate();
                    calculatePrice();
                }
            });

            $("#vipButtonMin").click(function () {
                var amount = $("#vipType").val();
                if (currentAmount <= maxTotal) {
                    amount--;
                    currentAmount--
                    $("#vipType").val(amount);
                    validate();
                    calculatePrice();
                }
            });

            function validate() {
                if ($("#earlyType").val() == 0) {
                    $("#earlyButtonMin").addClass("disabled");
                }
                else {
                    $("#earlyButtonMin").removeClass("disabled");
                }

                if ($("#normalType").val() == 0) {
                    $("#normalButtonMin").addClass("disabled");
                }
                else {
                    $("#normalButtonMin").removeClass("disabled");
                }

                if ($("#vipType").val() == 0) {
                    $("#vipButtonMin").addClass("disabled");
                }
                else {
                    $("#vipButtonMin").removeClass("disabled");
                }

                if (currentAmount == maxTotal) {
                    $("#earlyButtonPlus").addClass("disabled");
                    $("#normalButtonPlus").addClass("disabled");
                    $("#vipButtonPlus").addClass("disabled");
                }
                else {
                    $("#earlyButtonPlus").removeClass("disabled");
                    $("#normalButtonPlus").removeClass("disabled");
                    $("#vipButtonPlus").removeClass("disabled");
                }

                $("#totalQuantity").html(currentAmount);

                if (currentAmount == 0)
                    $(".next").addClass("disabled");
                else
                    $(".next").removeClass("disabled");

            }

            $("#submitButton").click(function () {
                var festId = @Model.Festival.Id;
                var tickets = {
                    Earlybird : parseInt($("#earlyType").val()),
                    Normal : parseInt($("#normalType").val()),
                    VIP : parseInt($("#vipType").val())
                };

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Tickets", "Festival")",
                    data:  JSON.stringify({festId : festId, tickets: tickets}),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        window.location.href = data.redirectUrl;
                    }
                });
            });

            function calculatePrice() {
                totalPrice = parseFloat(($("#earlyPrice").html() * $("#earlyType").val()) + ($("#normalPrice").html() * $("#normalType").val()) + ($("#vipPrice").html() * $("#vipType").val()));
                $("#totalAmount").html(totalPrice);
            }

        });
    </script>
}
else
{
    <p>&nbsp;</p>
    <div class="alert alert-danger" role="alert">
        <strong>@Resource.NotLogged</strong>@Resource.OrderTicketLogged!
        <a href="@Url.Action("Login", "Account")" class="alert-link">@Resource.PleaseLogin</a>
    </div>
}
