@model AvansFestivals.Domain.Database.TicketAmount

<h2>@Resource.DeleteTicketType</h2>

<h3>@Resource.DeleteConfirmQuestion</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Resource.TicketForFestival
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Festival.Name)
        </dd>

        <dt>
            @Resource.TicketType
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketType)
        </dd>

        <dt>
            @Resource.Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Resource.Amount
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@Resource.Delete" class="btn btn-default" /> |
            @Html.ActionLink(@Resource.ReturnToList, "Index")
        </div>
    }
</div>