@model AvansFestivals.Domain.Database.TicketAmount

<h2>@Resource.Edit @Resource.TicketType</h2>

<div class="alert alert-error">
@ViewBag.Message
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        @Html.HiddenFor(model => model.FestivalId)
        @if(Model.Id != 0)
        {
            @Html.HiddenFor(model => model.Id)

            <div class="form-group">
                <label for="TicketType" class="col-md-2 control-label">@Resource.TicketType</label>
                <div class="col-md-10">
                    <span class="label label-primary"> @Html.DisplayFor(model => model.TicketType)</span>
                </div>
            </div>
        }
        else
        {
            <div class="form-group">
                <label for="TicketType" class="col-md-2 control-label">@Resource.TicketType</label>
                <div class="col-md-10">
                    @Html.EnumDropDownListFor(model => model.TicketType, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.TicketType, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        <div class="form-group">
            <label for="Price" class="col-md-2 control-label">@Resource.Price</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label for="Amount" class="col-md-2 control-label">@Resource.Amount</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resource.Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
