@model AvansFestivals.Domain.Database.Festival

@{
    ViewBag.Title = "Edit";
}

<h2>Wijzig @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Start, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Start, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.End, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Logo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Logo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Logo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Banner, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Banner, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Banner, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FestivalState, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.FestivalState, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FestivalState, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <dl class="dl-horizontal">
                    <dt>
                        Tickets
                    </dt>
                    <dd>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>Ticket Soort:</th>
                                    <th>Prijs:</th>
                                    <th>Hoeveelheid:</th>
                                    <th>@Html.ActionLink("Nieuw Ticketsoort", "CreateTicketAmount", new { festivalID = Model.Id }, new { @class = "btn btn-primary btn-xs" })</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var e in Model.TicketAmounts)
                                {
                                    <tr>
                                        <td>@e.TicketType.ToString()</td>
                                        <td>€ @e.Price.ToString()</td>
                                        <td>@e.Amount.ToString()</td>
                                        <td>
                                            @Html.ActionLink("Bewerk", "EditTicketAmount", new { ticketAmountid = e.Id }, new { @class = "btn btn-primary btn-xs" })
                                            @Html.ActionLink("Verwijder", "DeleteTicketAmount", new { ticketAmountid = e.Id }, new { @class = "btn btn-primary btn-xs" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Opslaan" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Terug naar lijst", "Index")
</div>

