@model AvansFestivals.Domain.Database.Festival

<h2>@Resource.Edit @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label for="Name" class="col-md-2 control-label">@Resource.Name</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Description" class="col-md-2 control-label">@Resource.Description</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Start" class="col-md-2 control-label">@Resource.StartDate</label>
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Start, new { @class = "form-control datepicker" })
                @Html.ValidationMessageFor(model => model.Start, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="End" class="col-md-2 control-label">@Resource.EndDate</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Logo" class="col-md-2 control-label">@Resource.Logo</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Logo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Logo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="Banner" class="col-md-2 control-label">@Resource.Banner</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Banner, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Banner, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label for="FestivalState" class="col-md-2 control-label">@Resource.Status</label>
            <div class="col-md-10">
                @Html.EnumDropDownListFor(model => model.FestivalState, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.FestivalState, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <dl class="dl-horizontal">
                    <dt>
                        @Resource.Tickets
                    </dt>
                    <dd>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th>@Resource.TicketType</th>
                                    <th>@Resource.Price</th>
                                    <th>@Resource.Amount</th>
                                    <th>@Html.ActionLink(@Resource.NewTicketType, "CreateTicketAmount", new { festivalID = Model.Id }, new { @class = "btn btn-primary btn-xs" })</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var e in Model.TicketAmounts)
                                {
                                    <tr>
                                        <td>@e.TicketType.ToString()</td>
                                        <td>€ @e.Price.ToString()</td>
                                        <td>@e.Amount.ToString()</td>
                                        <td>
                                            @Html.ActionLink(@Resource.Edit, "EditTicketAmount", new { ticketAmountid = e.Id }, new { @class = "btn btn-primary btn-xs" })
                                            @Html.ActionLink(@Resource.Delete, "DeleteTicketAmount", new { ticketAmountid = e.Id }, new { @class = "btn btn-primary btn-xs" })
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resource.Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink(@Resource.ReturnToList, "Index")
</div>

