@model AvansFestivals.Models.FestivalListModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <h2>@Resource.FestivalMangement</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-3 pull-left">
        @Html.ActionLink(@Resource.NewEvent, "Create", null, new { @class = "btn btn-default btn-sm" })
    </div>
    <div class="col-md-3 pull-right">
        @using (Html.BeginForm())
        {
            <div class="input-group">
                @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = @Resource.SearchForFestivalOnName})
                <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" value="@Resource.Search" />
                </span>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>@Resource.Event</th>
                        <th>@Resource.Description</th>
                        <th>@Resource.StartDate</th>
                        <th>@Resource.EndDate</th>
                        <th>@Resource.Status</th>
                        <th>@Resource.Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var e in Model.Festivals)
                    {
                        <tr>
                            <td>
                                <span class="label label-default"> @Html.DisplayFor(modelItem => e.Name)</span>
                            </td>
                            <td>
                                @e.Description.Substring(0, 50) ...
                            </td>
                            <td>
                                <span class="label label-primary"> @Html.DisplayFor(modelItem => e.Start)</span>
                            </td>
                            <td>
                                <span class="label label-primary">@Html.DisplayFor(modelItem => e.End)</span>
                            </td>
                            <td>
                                <span class="label label-info">@Html.DisplayFor(modelItem => e.FestivalState)</span>
                            </td>
                            <td>
                                @Html.ActionLink(@Resource.Edit, "Edit", new { id = e.Id }, new { @class = "btn btn-primary btn-xs" }) 
                                @Html.ActionLink(@Resource.Details, "Details", new { id = e.Id }, new { @class = "btn btn-primary btn-xs" }) 
                                @Html.ActionLink(@Resource.Delete, "Delete", new { id = e.Id }, new { @class = "btn btn-primary btn-xs" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>