@model AvansFestivals.Domain.Database.Festival

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Start)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Start)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Banner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Banner)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FestivalState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FestivalState)
        </dd>
        <dt>
            Tickets
        </dt>
        <dd>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Ticket Soort:</th>
                        <th>Prijs:</th>
                        <th>Hoeveelheid:</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var e in Model.TicketAmounts)
                    {
                        <tr>
                            <td>@e.TicketType.ToString()</td>
                            <td>€ @e.Price.ToString()</td>
                            <td>@e.Amount.ToString()</td>
                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Terug naar lijst", "Index")
</p>
