@model AvansFestivals.Models.FestivalListModel

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12"><h2>Festival Beheer</h2>
       
    </div>
</div>
<div class="row">
    <div class="col-md-3 pull-left">
        @Html.ActionLink("Nieuw Event", "Create", null, new { @class = "btn btn-default btn-sm" })
    </div>
    <div class="col-md-3 pull-right">
        @using (Html.BeginForm())
        {
            <div class="input-group">
                @Html.TextBox("SearchString", null, new { @class = "form-control", placeholder = "Zoek op festival Naam..." })
                <span class="input-group-btn">
                    <input class="btn btn-default" type="submit" value="Zoek" />
                </span>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Evenement</th>
                        <th>Beschrijving</th>
                        <th>Begin Datum</th>
                        <th>Eind Datum</th>
                        <th>Status</th>
                        <th>Acties</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var e in Model.Festivals)
                    {
                        <tr>
                            <td>
                                <span class="label label-default"> @Html.DisplayFor(modelItem => e.Name)</span>
                            </td>
                            <td>
                                @e.Description.Substring(0, 50) ...
                            </td>
                            <td>
                                <span class="label label-primary"> @Html.DisplayFor(modelItem => e.Start)</span>
                            </td>
                            <td>
                                <span class="label label-primary">@Html.DisplayFor(modelItem => e.End)</span>
                            </td>
                            <td>
                                <span class="label label-info">@Html.DisplayFor(modelItem => e.FestivalState)</span>
                            </td>
                            <td>
                                @Html.ActionLink("Wijzigen", "Edit", new { id = e.Id }, new { @class = "btn btn-primary btn-xs" }) 
                                @Html.ActionLink("Details", "Details", new { id = e.Id }, new { @class = "btn btn-primary btn-xs" }) 
                                @Html.ActionLink("Verwijder", "Delete", new { id = e.Id }, new { @class = "btn btn-primary btn-xs" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>