@model  AvansFestivals.Models.FestivalListModel
@{
    ViewBag.Title = "Festivals";
}

<h2>@Html.Localize("allEvents")</h2>
<hr />
<div class="row">
    @foreach (var e in Model.Festivals)
    {
        <div class="col-sm-6 col-md-3">
            <div class="thumbnail">
                <img alt="100%x200" src="@e.Logo" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                <div class="caption">
                    <div class="title clearfix">
                        <h3 class="pull-left">@e.Name </h3>
                        <span class="label label-primary pull-right">@e.Start.ToShortDateString()</span>
                    </div>
                    <p>@e.Description.Substring(0, 110) ...</p>
                    <p>
                        <a href="@Url.Action("Index", "Festival", new { id = e.Id })" class="btn btn-primary" role="button">@Html.Localize("checkout") <span class="glyphicon glyphicon-search"></span></a>
                        @if (Session["User"] != null)
                        {
                            <a href="@Url.Action("Order", "Ticket", new { id = e.Id })" class="btn btn-primary pull-right">@Html.Localize("tickets")<span class="glyphicon glyphicon-tags"></span></a>
                        }
                    </p>
                </div>
            </div>
        </div>
    }
</div>
<div class="row">
    <div class="col-sm-12">
        <nav>
            <ul class="pagination">
                @Html.PageLinks(Model.PagingInfo, x => Url.Action("Events", new { page = x }))
            </ul>
        </nav>
    </div>
</div>
